*.iml
.gradle
.builds
**/build
/reports
/local.properties
.DS_Store
/captures
.externalNativeBuild

.keystore/*
!.keystore/debug.jks
!.keystore/debug.properties

.idea/*
!.idea/codeStyles
!.idea/dictionaries/default.xml
!.idea/fileTemplates
!.idea/inspectionProfiles
!.idea/runConfigurations
!.idea/encodings.xml
!.idea/file.template.settings.xml
!.idea/icon.png
!.idea/runConfigurations.xml
!.idea/vcs.xml